# Base
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Docker
Dockerfile.dev
.devcontainer/

# Private
.env
.env.*
TgAudio2Text.session

# Other
*.bak
*.tmp
*.swp
